html {
    background-color: rgb(238, 239, 240);
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: gray solid 3px;
}

header {
    margin-top: 5px;
}

.container {
    padding: 20px 10px 0px 10px;
    text-align: center;
}

#selectedImage, #watermarkedImage {
    padding: 10px;
}

#selectedImage img, #watermarkedImage img {
    border: 2px lightgray solid;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
}

.animation img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.image-previewer {
    column-count: 2;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

#watermarkImage {
    margin-top: 15px;
    margin-bottom: 15px;
}

#downloadImage {
    text-decoration: none;
    color: white;
}

#markImage { 
    margin-left: 5px;
    border: solid 2px gray;
}

footer {
    background-color: rgb(238, 239, 240);
    padding: 20px 5px;
    text-align: center;
    font-weight: 100;
    margin-top: 15px;
}

@media only screen and (max-width: 414px) {

}